<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <script>
        const host = location.origin.replace(/^http/, 'ws');
        const ws = new WebSocket(host);
        ws.onopen = () =>{
            console.log('websocket is connected ...');
            // sending a send event to websocket server

        };
        ws.onmessage = (response)=>{
            if (JSON.parse(response.data).type === "photo") {
                document.getElementById("img").src = JSON.parse(response.data).value;
            }
        };
    </script>
    The best search engine is:
    <img id="img">
</div>
<label for="input"> Type yahoo.png if you think different</label><input type="text" id="input">
<button onclick="{
    const val = document.getElementById('input').value;
    document.getElementById('img').src= val;
    ws.send(JSON.stringify({
        type:'photo',
        value:val
    }))
}">
    Change
</button>
</body>
</html>